.comment {
  border: none;
  cursor: pointer;
  color: #333;
  background: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
}

.comment:focus,
.comment:hover {
  outline: none;
}

.comment:focus svg path,
.comment:hover svg path {
  fill: #fea;
  stroke: #fb1;
}

.comment:focus svg g,
.comment:hover svg g {
  animation: latir 0.6s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}