@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');
@import 'tailwindcss';

/* =====================
   UTILITIES
===================== */

@utility container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (width >= 40rem) {
    max-width: 50rem;
  }
}

@utility shadow-glow {
  box-shadow: 0 0 0 3px #fea;
}

@utility user-icon {
  background-image: url('./Assets/usuario.svg');
}

@utility bg-login {
  background: url('./Assets/login.jpg') no-repeat center center;
  background-size: cover;
}

@utility title {
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
}

/* =====================
   USER HEADER NAV
===================== */

@utility mobileButton {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;

  &:active {
    scale: 0.95;
  }

  &::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 2px;
    border-radius: 2px;
    background: currentColor;
    box-shadow:
      0 6px currentColor,
      0 -6px currentColor;
    transition: 0.2s;
  }

  &:focus,
  &:hover {
    outline: none;
    background: white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
    color: #fb1;
  }
}

@utility mobileButtonActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  color: #fb1;

  &::after {
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    box-shadow:
      0 8px currentColor,
      0 -8px currentColor;
  }
}

@utility navMobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;

  & a,
  & button {
    display: flex;
    align-items: center;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: scale 0.1s;
  }

  & a:active,
  & button:active {
    scale: 0.95;
  }

  & a:hover svg > *,
  & button:hover svg > * {
    fill: #fb1;
  }

  & button {
    border-bottom: none;
  }

  & svg {
    margin-right: 0.5rem;
  }
}

@utility navMobileActive {
  transition: 0.3s;
  transform: initial;
  opacity: 1;
  pointer-events: initial;
  z-index: 100;
}

/* =====================
   THEME
===================== */

@theme {
  --font-first: Helvetica, Arial, sans-serif;
  --font-second: 'Spectral', Georgia;

  --animate-animeLeft: animeLeft 0.3s ease-in-out forwards;

  @keyframes animeLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
