@import 'tailwindcss';

@utility container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (width >= 40rem /* 640px */) {
    max-width: 50rem /* 800px */;
  }
}

@utility shadow-glow { 
  box-shadow: 0 0 5px #fea, 0 0 6px #fb1; 
}
