@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Spectral:wght@700&display=swap');
@import 'tailwindcss';

/* =====================
   BASE
===================== */

body {
  font-family: var(--font-first);
}

.VictoryContainer {
  height: initial !important
}

/* =====================
   UTILITIES
===================== */

@utility container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (width >= 40rem) {
    max-width: 50rem;
  }
}

@utility mainContainer {
  margin-top: 2rem;
}

@utility shadow-glow {
  box-shadow: 0 0 0 3px #fea;
}

@utility user-icon {
  background-image: url('./Assets/usuario.svg');
}

@utility view-icon {
  background: url('./Assets/visualizacao.svg') no-repeat center center;
}

@utility view-icon-black {
  background: url('./Assets/visualizacao-black.svg') no-repeat center center;
}

@utility title {
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
}


@utility bg-login {
  background:
    url('./Assets/login.jpg') no-repeat center center,
    linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size:
    cover,
    200% 100%;
  animation: skeleton-shimmer 1.5s infinite linear;
}

/* =====================
   THEME
===================== */

@theme {
  /* Typography */
  --font-first: 'Roboto', Helvetica, Arial, sans-serif;
  --font-second: 'Spectral', Georgia;

  /* Animations */
  --animate-animeLeft: animeLeft 0.3s ease-in-out forwards;

  --animate-scaleUp: scaleUp 0.2s ease-out forwards;

  @keyframes animeLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes scaleUp {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: initial;
    }
  }

  @keyframes skeleton-shimmer {
    0% {
      background-position:
        center center,
        -200% 0;
    }
    100% {
      background-position:
        center center,
        200% 0;
    }
  }
}
